[providers]
default = ["node", "python"]

[phases.setup]
nixPkgs = ["python311", "python311Packages.pip"]

[phases.install]
cmds = [
  "npm ci",
  "python3 -m pip install --no-cache-dir -r requirements.txt"
]

